<!-- 
Citation for the following file: customers.ejs
Date: 05/25/26 - 06/07/26
AI Tool: ChatGPT
Prompt summary: ChatGPT was used to help establish database connection and connect the frontend tools to the backend SQL queries to dynamically update the tables.
ChatGPT was also used to help debug issues regarding error messages and incorrect return values and mismatch parameters.
All AI generated code was verified and tested by all team members to ensure accuracy and match our database design. 
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Customers</h1>

    <form action="/restore-database" method="POST">
        <a href="index.html">Back to Home</a>
        <button type="submit">Reset database</button>
    </form>

    <h2>Browse Customers</h2>
    <!-- views/customers.ejs -->
    <table border="1">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone #</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody> <!--dynamically load the data in table using ejs template-->
            <% Customers.forEach(function(customer) { %>
                <tr>
                    <td><%= customer.customerID %></td>
                    <td><%= customer.firstName %></td>
                    <td><%= customer.lastName %></td>
                    <td><%= customer.email %></td>
                    <td><%= customer.phoneNumber %></td>
                    <td><%= customer.address %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <h2>Add Customer</h2>
    <form method="POST" action="/add-customer">
        <label>First Name:</label>
        <input type="text" name="customerFirstName"><br><br>

        <label>Last Name:</label>
        <input type="text" name="customerLastName"><br><br>

        <label>Email:</label>
        <input type="email" name="customerEmail"><br><br>

        <label>Phone Number:</label>
        <input type="tel" name="customerPhone"><br><br>

        <label>Address:</label>
        <input type="text" name="customerAddress"><br><br>

        <button type="submit">Add Customer</button>
    </form>

    <h2>Update Customer</h2>
    <form method="post" action="update-customer">
        <label>Select Customer:</label>
        <select name="customerToUpdateID">
            <% Customers.forEach(function(customer) { %>
                <option>
                    <%= customer.customerID %>
                    -
                    <%= customer.firstName %>
                    <%= customer.lastName %>
                </option>
            <% }); %>
        </select><br><br>

        <label>Updated Email:</label>
        <input type="email" name="customerUpdatedEmail"><br><br>

        <label>Updated Phone #:</label>
        <input type="tel" name="customerUpdatedPhone"><br><br>

        <label>Updated Address:</label>
        <input type="text" name="customerUpdatedAddress"><br><br>

        <button type="submit">Update Customer</button>
    </form>

    <h2>Delete Customer</h2>
    <form method="post" action="/delete-customer">
        <label>Select Customer:</label>
        <select name="customerID">
            <% Customers.forEach(function(customer) { %>
                <option>
                    <%= customer.customerID %>
                    -
                    <%= customer.firstName %>
                    <%= customer.lastName %>
                </option>
            <% }); %>
        </select><br><br>

        <button>Delete Customer</button>
    </form>
    
</body>
</html>